flex-version = flex
@require '../../node_modules/nib/index.styl'
@require 'variables'
@require 'vendor/*'
@require 'defaults/*'

global-reset()
reset-html5()

*
  box-sizing border-box

html, body, #app
  background #070b0f url('../assets/images/background-grid.png')

a
  color link
  text-decoration none

.dont-break-out
  /* These are technically the same, but use both */
  overflow-wrap break-word
  word-wrap break-word

  -ms-word-break break-all
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break break-all
  /* Instead use this non-standard one */
  word-break break-word

  /* Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens auto
  -moz-hyphens auto
  -webkit-hyphens auto
  hyphens auto
  */

.desktop-only
  display none

@media screen and (min-width: 1024px)
 agu .desktop-only
    display block

#app
  df()
  color txt
  padding-top 3rem
  min-height 100vh
  display flex
  flex-flow column nowrap

#app-content
  flex 1
  display flex
  flex-flow column nowrap
  margin-top -3rem

#app-main
  flex 1

// overrides on for temdermint/ui components

.tm-li, .tm-li:last-child
  border-bottom: 1px solid #303d4b;
.tm-li.router-link-exact-active .tm-li-icon i.material-icons
  display none
.tm-page-header-text
  padding .75rem 1rem .6875rem
.tm-page-header-container
  min-height auto
.tm-page-header-text h2
  font-weight 400
  line-height 24px
  color #d0dbe7
.tm-li-thumb, .tm-li-label, .tm-li-icon
  min-height 2.9375rem
.tm-page-main
  padding 0
.tm-part-main
  padding-right 0rem
.tm-part-header
  margin-top 1rem
  margin-bottom 0
  height 2rem
  padding 0 1rem
  border-bottom 1px solid var(--bc-dim)
  background inherit
.tm-part-header-container
  height 2rem - px
.tm-part-title
.tm-part-menu
  font-label()
  color var(--dim)
  span.dim
    font-weight --faint
  a
    color link
    border-bottom 1px dotted var(--bc)
// overrides on tm-part
@media screen and (min-width: 768px)
  .tm-part-container
    &:last-child
      padding-bottom 0rem
